---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: gateway-plugins-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - model.aibrix.ai
  resources:
  - modeladapters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch